<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 2</title>
    <link rel="stylesheet" href="../static/css/employees.css">
</head>

<body>
    <div class="heading">Employee Dummy</div>
    <div class="container">

    </div>
    <div id="invisible"></div>
    <div class="single">
        <!-- <div>
            <p class="name">Ganesh</p>
            <p class="age">27</p>
            <p class="salary">25000</p>
        </div>

        <button id="home">Home</button> -->
    </div>
    <script src="../static/js/employees.js"></script>
</body>

</html>