<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="../static/css/register-resp.css">
    <title>Register</title>
</head>

<body>
    <header>
        <h1>Welcome User</h1>
        <h2>Please enter your details</h2>
    </header>
    <main>
        <div class="container">
            <form action="/register" method="post">
                <div class="inputs">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" required>
                </div>
                <div class="inputs">
                    <label for="name">Birth Date</label>
                    <input type="date" name="birth_date" id="birth_date" required>
                </div>
                <div class="inputs">
                    <label for="name">Email Id</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="inputs">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </main>
    <footer></footer>
    <script src="../static/js/register.js"></script>
</body>

</html>