* {
    margin: 0;
    padding: 0;
}

#invisible {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 50%;
    position: absolute;
    top: 0;
}

.single {
    height: 20vw;
    min-height: 10rem;
    min-width: 15rem;
    width: 30vw;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 13rem;
    /* transform: translate(110%, 15rem); */
    left: 34vw;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    font-weight: bold;
}

.single button {
    cursor: pointer;
    width: 7vw;
    min-width: 4.6rem;
    color: white;
    border-radius: 5px;
    border: 2px solid darkblue;
    font-size: 1.3rem;
    background-color: blue;
}

.single button:hover {
    /* background-color: rgb(81, 81, 255); */
    background-color: white;
    color: blue;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 25px;
    background-color: rebeccapurple;
}

.employees {
    height: 5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 3px solid black;
    cursor: pointer;
}

.employees:hover {
    background-color: rgb(225, 225, 255)
}

.employees p {
    margin-left: 5px;
    font-size: 20px;
}